* {
  margin: 0;
  padding: 0;
}
/*外层包裹区域*/
#wrap {
  background: #000000;
  width: 130px;
  height: 130px;
  padding: 130px;
  margin: 150px auto;
  perspective: 300px;
  perspective-origin: center 90%;
  /*立体盒子*/
}
#wrap:hover {
  cursor: pointer;
}
#wrap .box {
  transform-style: preserve-3d;
  position: relative;
  width: 130px;
  height: 130px;
  /*transition: 8s transform linear;*/
  animation: move 10s infinite linear;
  /*盒子每一个面*/
}
#wrap .box div {
  position: absolute;
  width: 130px;
  height: 130px;
  line-height: 130px;
  text-align: center;
}
@keyframes move {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
